@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
    color: #2c3e50;
}

h1 {
    font-family: 'Righteous', cursive;
    color: #34495e;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: .5rem 1rem;
}

header {
    text-align: center;
}

#status {
    text-align: center;
    background-color: lightgray;
    border-radius: 5px;
    padding: .5rem;
}

header input {
    width: 80%;
    max-width: 450px;
    margin: 1rem 0 2rem 0;
    padding: .7rem;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .4s ease-out;
}

header input:focus {
    box-shadow: 0 0 6px #34495e;
}

.employees-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
}

.employee-item {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}

.employee-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
}

.employee-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.employee-info p {
    margin-top: .5rem;
    margin-bottom: 0;
    width: 100%;
    font-size: .9rem;
}

.employee-info p:last-child {
    font-size: .9rem;
    color: darkgrey;
}

.employee-info h3 {
    margin-top: 0;
    margin-bottom: .5rem;
}

footer {
    min-height: 40px;
    text-align: center;
    color: lightgray;
    margin-top: 1rem;
}

.details {
    text-align: center;
}

.details img {
    border-radius: 50%;
}

@media (min-width: 768px) {
    .employees-list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}

@media (min-width: 1024px) {
    .employees-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}